* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: Roboto;
	src: url('resources/fonts/Roboto.ttf');
}

@font-face {
	font-family: Roboto;
	src: url('resources/fonts/Robotobold.ttf');
	font-weight: bold;
}

/* ОБЩИЕ правила */

body {
	font-family: Roboto, sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.button {
	width: 334px;
	height: 64px;
	background: #030305;
	border: 0;

	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
	transition: background-color .5s;
}

.button:hover {
	cursor: pointer;
	background: #575757;
}

img {
	vertical-align: bottom;
}

/* HEADER */

.header {
	border-bottom: 1px solid #E5E5E5;
	padding: 25px 0;
}

.header__container {
	display: flex;
	align-items: center;
}

.menu {
	margin-left: 244px;
}

.menu ul {
	display: flex;
	list-style: none;

}

.menu__item {
	margin-right: 115px;
}

.menu__item:last-child {
	margin-right: 0;
}

.menu__item a {
	font-size: 15px;
	color: #030305;
	text-decoration: none;
}

.menu__item a:hover {
	border-bottom: 2px solid black;
}

/* MAIN */

.main {
	background-image: url(resources/img/background.png);
	background-position: center;
	background-size: cover;
	padding: 104px 0 154px 0;
}

.main__info {
	max-width: 855px;
}

.main__title {
	font-weight: bold;
	font-size: 80px;
	line-height: 110%;
	color: #030305;
	margin-bottom: 40px;
}

.main__text {
	max-width: 502px;
	margin-bottom: 40px;
	font-size: 16px;
	line-height: 130%;
	color: #030305;
}

/* CARS */

.cars {
	padding: 100px 0;
}

.sub-title {
	font-weight: bold;
	font-size: 60px;
	color: #030305;
}

.cars__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* align-items: center; */
}

.card {
	max-width: 384px;
	text-align: center;
	margin-top: 40px;
}

.card__title {
	font-weight: bold;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #030305;
	margin: 15px 0 17px;
	/* padding: 15px 0 17px; */
}

.card__info {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.card__point {
	max-width: 110px;
	height: 92px;
}

.card__point img {
	margin-bottom: 11px;
}

.card__point p {
	font-weight: bold;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: #030305;
}

.card__point p:last-child {
	font-weight: normal;
}

.card__action {
	margin-top: 15px;
}

.card__button {
	width: 100%;
	height: 54px;
}

/* PRICE */

.price {
	overflow: hidden;
}

.price__container {
	position: relative;
	padding-bottom: 121px;
}

.price__text {
	line-height: 130%;
	color: #5D5D5F;
	margin-top: 20px;
	margin-bottom: 60px;
}

.price__form {
	max-width: 344px;
}

.price__input {
	width: 100%;
	box-sizing: border-box;
	padding: 22px 18px;
	height: 65px;
	background: #FFFFFF;
	border: 1px solid #5D5D5F;
	outline: none;
	margin-bottom: 15px;

	font-size: 16px;
	color: #000000;
}

.price__input::placeholder {
	color: #5D5D5F;
}

.price__button {
	width: 100%;
}

.price__img {
	position: absolute;
	bottom: 0;
	left: 401px;
}

/* FOOTER */

.footer {
	border-top: 1px solid #E5E5E5;
	padding: 25px 0;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright {
	font-size: 15px;
	color: #030305;
}